.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFC75F;
  min-height: 10vh;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: "https://fonts.google.com/specimen/Love+Ya+Like+A+Sister?query=Love+Ya+Like+a+sister";
  color: black;
}

body {
  font-family: "https://fonts.google.com/specimen/Sanchez?query=Sanchez";
}

.App-link {
  color: #61dafb;
}

ul {
  list-style-position: inside;
}

input {
  transition: 0.8s;
  size-adjust: 4rem;
  height: 30px;
  width: 50%;
  text-align: center;
  padding: 10px 50px;
  border-radius: 30px;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  align-items: center;
  background: #fff;
  justify-content: center;
  cursor: pointer;  
}

button {
  width: 70px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 30px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: purple;
  color: #fff;
}

.profileBtn {
  border-radius: 25%;
  margin: auto;
  text-align: center;
  width: 10rem;
}

.profilBtnContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.signupForm {
  
  padding-top: 14vh;
  min-height: 20vh;
  background-color: #FFC75F;
}

.translateForm {
  padding-top: 7rem;
  min-height: 4rem;
  min-width: 10rem;
}

.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

img {
  
  width: 6vw;
  aspect-ratio: 1/1;
}

.profileHeaderCard {
  border: 1px solid white;
  width: 22vw;
  aspect-ratio: 5 / 3;  
  font-size: 1.5rem;

}
.header-spacing {
  width: 50%;
  display: inline-flex;
}


.profileCard {
  
  
  position: absolute;
  top: 0;
  right: 0;
  font-size: medium;  
  background-color: #E7B355;
  border: 2px solid whitesmoke;
  min-width: 8vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  border-radius: 44%;
  user-select: none;
}
