.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  min-width: 100%;
  display: flex;
  /* float: inline-start; */
  /* position: absolute; */
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
}

.signupFormContainer {
  width: 25vw;
  height: 10vh;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}

.signupSides {
  min-width: 25vw;
}

.btnSignup {
  width: 33px;
  height: 33px;
  border-radius: 66%;
  background-color: purple;
}